@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    padding-left: 15vw;
    background-color: #9dbebb;
}

/* @media screen and (max-width: 400px) { */
    @media screen and (max-width: 768px) {
    body {
    padding-left: 0;
    }
}
