/* MAP  */
.map-container {
  display: flex;
  flex-direction: row-reverse;
  margin-left: 20px;
  margin-top: 20px;
}

/* MAP SIDE PANEL  */
.mapPanel {
  width: 25%;
  margin-left: 1.5vw;
}

.side-panel {
  background-color: #b5bda5;
  padding: 1em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  position: relative;
  border: 0.1em solid #556f44; 
}

.side-panel h3 {
  font-weight: bold;
  margin-top: 1em;
  font-size: large;
}

.panel-content {
  max-height: 85vh;
  overflow-y: auto;
  max-width: 90%;
  list-style: none;
}

.side-panel ul li {
  margin-bottom: 1em;
  border-bottom: 1px solid #556f4475;
  padding-bottom: 1em;
}

.side-panel ul li h4 {
  font-size: large;
  margin-top: 0.5em;
}

.side-panel ul li img {
  max-width: 100%;
  border-radius: 5px;
}

.side-panel p {
  margin-top: 0.5em;
}

.see-more-button {
  background-color: #283f3b;
  color: #fff;
  padding: 2px 4px;
  margin-top: 0.5em;
  border-radius: 5px;
  font-size: x-small;
}

.exit-button {
  font-size: x-large;
  color: #283f3b;
}

/* MAP SEARCH */
#search-museums-bar-map {
  height: 40px;
  outline: none;
  border: none;
  background: none;
  transition: width 0.3s ease-in-out;
  border-bottom: 1px solid #283f3b;
  width: 0;
  overflow: hidden;
  float: left;
  margin-right: 10px;
  color: #283f3b;
}

#search-museums-bar-map::placeholder {
  color: #0000004d;
}

#search-museums-bar-map.expanded {
  width: 70%;
  opacity: 1;
}

.search-btn-map {
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: #283f3b;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.3s;
  right: 0;
  margin-bottom: 0.5em;
}

.search-btn-map:hover {
  background: #fff;
  color: #283f3b;
}

#search-museums-bar-map.expanded {
  width: 70%;
  padding-left: 10px;
}

/* MAP FILTER  */
.filter-buttons-map {
  display: flex;
  flex-direction: column;
  margin-top: 0.2em;
}

.filter-buttons-map input[type="checkbox"] {
  display: none;
}

.filter-buttons-map label {
  position: relative;
  padding-left: 1.5em;
  margin-bottom: 0.2em;
  color: #fff;
  transition: color 0.3s ease-in-out;
}

.filter-buttons-map label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.3em;
  width: 1em;
  height: 1em;
  border: 1px solid #fff;
  background-color: #283f3b;
  border-radius: 3px;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.filter-buttons-map input[type="checkbox"]:checked + label:before {
  background-color: #fff;
  border-color: #fff;
}

.filter-buttons-map input[type="checkbox"]:checked + label {
  color: #283f3b;
}
