.map-container {
  display: flex;
  flex-direction: row-reverse;
  margin-left: 20px;
  margin-top: 20px;
}

.mapPanel {
  width: 25%;
  margin-left: 1.5vw;
}

.panel-content {
  max-height: 85vh;
  overflow-y: auto;
  max-width: 90%;
  list-style: none;
}

.side-panel ul {
  list-style: none;
  padding: 0;
}

.side-panel ul li img {
    max-width: 100%;
    height: auto;
  }