/* AllMuseums.css */

.page-title {
  font-size: 3rem;
}

.all-museums-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 0.25rem;
  width: 100%;
  grid-auto-rows: 1fr;

}


/* Style the See Details and Learn More buttons */
.details-button,
.learn-more-button,
.museum-buttons {
  background-color: #031926;
  /* Button background color */
  color: white;
  /* Button text color */
  border: none;
  /* Remove button border */
  padding: 10px 20px;
  /* Padding inside the button */
  border-radius: 5px;
  /* Rounded corners for the button */
  cursor: pointer;
  /* Add pointer cursor on hover */
  transition: background-color 0.2s;
  flex-grow: 1;
  margin-right: 5px;
  text-align: center;
}

.details-button:hover,
.learn-more-button:hover,
.museum-buttons:hover {
  background: linear-gradient(45deg, #99DDC8, #659B5E, #95BF74, #556F44);
  background-size: 200% 200%;
  animation: shimmer 6s linear infinite;
  color: #fff;
}

@keyframes shimmer {

  0%,
  100% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}

/* Style the museum list items */
.museum-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Center the content vertically */
  align-items: center;
  /* Center the content horizontally */
  margin-bottom: 20px;
  margin-left: 20px;
  /* Add margin between each museum card */
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  /* Add a subtle box shadow */
  transition: transform 0.2s;
  /* Add a smooth transition effect */
  list-style: none;
}


/* Style the museum images within the card */
.museum-image {
  max-width: 300px;
  height: auto;
  transition: transform 0.2s, box-shadow 0.2s;
  float: left;
  margin: 1rem;

}


/* Add a subtle zoom effect on hover for the museum image */
.museum-item:hover .museum-image {
  transform: scale(1.03);
  /* Slightly zoom in the image on hover */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* Add a subtle box shadow on hover */
}

/* Style the museum headers (museum name) */
.museum-headers {
  font-size: 1.5rem;
  /* Adjust the font size as needed */
  margin-bottom: 10px;
  /* Add margin below the museum name */
}

/* Style the Learn More link */
.museum-link {
  text-decoration: none;
  /* Remove underline from the link */
  color: #031926;
  /* Link color */
  margin-right: 10px;
  /* Add margin to separate it from other content */
}

/* Style the Back to Map button */
.museum-buttons {
  background-color: #031926;
  /* Button background color */
  color: white;
  /* Button text color */
  border: none;
  /* Remove button border */
  padding: 10px 20px;
  /* Padding inside the button */
  border-radius: 5px;
  /* Rounded corners for the button */
  cursor: pointer;
  /* Add pointer cursor on hover */
  transition: background-color 0.2s;
  /* Add a smooth transition effect for background color */
}

/* Hover effect for the Back to Map button */
.museum-buttons:hover {
  background-color: #468189;
  /* Button background color on hover */
}

.loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
  position: relative;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
  border-top: 16px solid #283F3B;
  border-right: 16px solid #556F44;
  border-bottom: 16px solid #659B5E;
  border-left: 16px solid #95BF74;
}

.loader img {
  width: 70px;
  height: 70px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Add space between cards on larger screens */
@media (min-width: 768px) {
  .museum-item {
    margin-right: 20px;
    /* Add margin to the right of each card */
  }
}

/* ALL MUSEUMS SEARCH */
.search-museums-container {
  display: flex;
  position: relative;
  align-items: center;
  margin-top: 0.5em;
  margin-right: 3em;
}

#search-museums-bar {
  height: 40px;
  outline: none;
  border: none;
  background: none;
  transition: width 0.3s ease-in-out;
  border-bottom: 1px solid #283f3b;
  width: 0;
  margin-top: 0.5em;
  margin-right: 3em;
  right: 0;
  color: #283f3b;
}

#search-museums-bar::placeholder {
  color: #0000004d;
  font-size: 1em;
}

#search-museums-bar.expanded {
  width: 70%;
  opacity: 1;
}

.search-btn-museums {
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: #283f3b;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

.search-btn-museums:hover {
  background: #fff;
  color: #283f3b;
}

#search-museums-bar.expanded {
  width: 70%;
  padding-left: 10px;
}

/* FAVORITE BUTTON */

.heart-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-top: 20px;
  position: relative;
  padding: 20px;
}

.heart-button {
  position: absolute;
  color: #95BF74;
  cursor: pointer;
  width: 36px;
  height: 36px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.favorite-text {
  color: #9fd5cc;
  opacity: 0;
  transition: 0.3s;
  font: 12px;
  padding: 20px;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
}

.heart-button:hover+.favorite-text {
  opacity: 1;
  color: #77ACA2;
}
