/* Journal Entry Cards */
.journal-entries-container {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.journal-entry-list {
  list-style: none;
  padding: 0;
}

.journal-entry-card {
  border: 1px solid #ddd;
  background-color: #fff;
  margin: 20px 0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Edit Journal Entry Form */
.edit-entry-form {
  margin-top: 10px;
}

.edit-entry-form h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.edit-entry-form input[type="text"],
.edit-entry-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* View Journal Entry */
.view-entry h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.view-entry p {
  font-size: 1rem;
}

/* Buttons with glimmering effect and changing colors */
.save-button,
.cancel-button,
.delete-button,
.edit-button,
.create-button {
  background-color: #34495e;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

/* Glimmering effect with changing colors */
.save-button:hover,
.cancel-button:hover,
.delete-button:hover,
.edit-button:hover,
.create-button:hover {
  background: linear-gradient(45deg, #99DDC8, #659B5E, #95BF74, #556F44);
  background-size: 200% 200%;
  animation: shimmer 6s linear infinite;
  color: #fff;
}

@keyframes shimmer {
  0% {
      background-position: 0 0;
  }
  100% {
      background-position: 200% 0;
  }
}

.error-message {
  color: #d9534f;
  margin-top: 10px;
  font-weight: bold;
}



/* Styling for the title and body inputs */
.form-input {
  margin-bottom: 15px;
}

.form-input label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-input input[type="text"],
.form-input textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}



  /* MY MUSEUM LIST */



  .museum-img {
    max-width: 400px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .favorite-title {
    font-size: 2rem;
    padding: 20px;
    /* text-align: center; */
    font-weight: bold;
  }

  .fav-museum-name {
    text-align: center;
    padding: 20px;
    font-size: 2rem;
    font-weight: bold;
  }

  .favorite-detail-btn {
    background-color: #031926;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    flex-grow: 1;
    margin-top: 10px;
    margin-right: 5px;
    text-align: center;
  }

  .favorite-detail-btn:hover {
    background: linear-gradient(45deg, #99DDC8, #659B5E, #95BF74, #556F44);
    background-size: 200% 200%;
    animation: shimmer 6s linear infinite;
    color: #fff;
  }

  .favorites-card {
    position: relative;
    border: 1px solid #ddd;
    background-color: #fff;
    margin: 30px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

  }

.empty-favorites-page {
  position: relative;
  border: 1px solid #ddd;
  background-color: #fff;
  margin: 30px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.favorites-museum-btn {
  background-color: #031926;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    flex-grow: 1;
    margin-top: 10px;
    margin-right: 5px;
    text-align: center;
}

.favorites-museum-btn:hover {
background: linear-gradient(45deg, #99DDC8, #659B5E, #95BF74, #556F44);
background-size: 200% 200%;
animation: shimmer 6s linear infinite;
color: #fff;
}

  /* AUTH FORMS */



  .auth-background {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
      align-items: center;
  }

  .app-description-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 75%;
    margin: 50px 100px;
    backdrop-filter: blur(10px);
    z-index: 1;
  }

  .app-description-container::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .app-description-text {
    z-index: 1;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    font-family: "Your Gorgeous Font", sans-serif;
    color: rgba(0, 0, 0, 0.548);
  }

  /* Auth Container Styles */
  .auth-container {
    position: relative;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr; /* Stack rows: first the app description, then the forms */
  }

  .auth-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("../images/skyline.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.5;
  }

  .auth-background {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

  }


  .auth-container > div {
    /* flex: 1; */
    margin: 10px; /* Add spacing between forms */
  }

  /* Container for Register and Login forms */
.form-container {
  display: flex;
  justify-content: center;
}


/* Register Form Container */
.register-container {
  position: relative;
  flex: 1;
  max-width: 400px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
}


/* Login Form Container */
.login-container {
  position: relative;
  flex: 1;
  max-width: 400px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

/* Form Heading */
.register-container h1,
.login-container h1 {
    text-align: center;
    margin-bottom: 20px;
    margin: 20px 0;
    padding: 10px;
    font-size: 2rem;
}

/* Form Inputs */
.register-container form input,
.login-container form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

/* Submit Button */
.register-container form button,
.login-container form button {
    background: linear-gradient(45deg, #99DDC8, #9DBEBB, #99DDC8);
    color: #283F3B;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
    transition: box-shadow 0.3s ease-in-out;
}

/* Shining effect on hover */
.register-container form button:hover,
.login-container form button:hover {
    background: linear-gradient(45deg, #99DDC8, #9DBEBB, #99DDC8);
    animation: shimmer 5s linear infinite;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

.link-button {
  position: relative;
  display: inline-block;
  padding: 5px;
  border: none;
  color: #659B5E;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  overflow: hidden;
}

.link-button::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #659B5E;
  transition: all 0.4s;
}


.link-button::after {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.link-button:hover::after {
  width: 100%;
  left: 0;
  transform: translateX(0);
}

/* Shimmer animation */
@keyframes shimmer {
    0% {
        background-position: -500px 0;
    }
    100% {
        background-position: 500px 0;
    }
}

/* Error Message */
.error-message {
    color: #d9534f;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}

/* Success Message */
.success-message {
    color: #5cb85c;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}

.error-button,
.success-button {
  background: none; /* Remove background gradient */
  color: inherit; /* Inherit text color */
  border: 1px solid transparent; /* Remove border */
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: none; /* Remove transition */
}

/* Optionally, you can add specific styles for error and success buttons */
.error-button {
  color: #d9534f; /* Set error button text color */
}

.success-button {
  color: #5cb85c; /* Set success button text color */
}
