.favorites-card {
    position: relative;
    border: 1px solid #ddd;
    background-color: #fff;
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .museum-img {
  max-width: 150px;
  height: auto;
}

h1 {
    text-align: center;
}

.favorites-card:hover .overlay {
	opacity: 1;
}

.overlay {
	position: absolute;
  top: 0; /* Position it at the top of .museum-item */
  left: 0;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	/* bottom: 0; */
	font-size: 20px;
	padding: 20px;
	text-align: center;
}

.favorite-overlay {
  color: white;
}
