.favorites-card {
    border: 1px solid #ddd;
    background-color: #fff;
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .museum-img {
  max-width: 150px;
  height: auto;
}

h1 {
    text-align: center;
}
